<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='error_messages.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='form_style.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='button.css')}}">
</head>
<body>
	<div class="login">
		<div class="login__tabs">

			<!-- SET REGISTER TAB TO ACTIVE IF FLASH MESSAGE OCCURED THERE -->
			{% with messages = get_flashed_messages(category_filter=['register_active']) %}
				{% if messages %}
					<p class="login__tab" id="login_tab" onclick="LoginTabActivate(this)">
						Login
					</p>
					<p class="login__tab login__tab--active" id="register_tab" onclick="LoginTabActivate(this)">
						Register
					</p>
				{% else %}
					<p class="login__tab login__tab--active" id="login_tab" onclick="LoginTabActivate(this)">
						Login
					</p>
					<p class="login__tab" id="register_tab" onclick="LoginTabActivate(this)">
						Register
					</p>
				{% endif %}
			{% endwith %}
		</div>

		<!-- SET REGISTER FORM TO ACTIVE IF FLASH MESSAGE OCCURED THERE -->
		{% with messages = get_flashed_messages(category_filter=['register_active']) %}
				{% if messages %}
		<form class="form-card hidden" id="login_form" name="login_form" onsubmit="LoginUser(); return false;" action="/login" method="post">
				{% else %}
		<form class="form-card" id="login_form" name="login_form" onsubmit="LoginUser(); return false;" action="/login" method="post">
				{% endif %}
		{% endwith %}
			<input type="hidden" id="auth_code_login" name="auth_code">

			<!-- JAVASCRIPT VALIDATION ERROR MESSAGE -->
			<p class="error-string hidden" id="email_length_error">* Please enter an email address</p>

			<!-- FLASH VALIDATION ERROR MESSAGE -->
			{% with messages = get_flashed_messages(category_filter=['flash_user_not_found']) %}
				{% if messages %}
					{% for message in messages %}
						<p class="error-string">{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}

			<input class="form-card__input" id="test" type="text" name="email" placeholder="Email Address">

			<!-- JAVASCRIPT VALIDATION ERROR MESSAGE -->
			<p class="error-string hidden" id="login_password_length_error">* Please enter a password</p>

			<!-- FLASH VALIDATION ERROR MESSAGE -->
			{% with messages = get_flashed_messages(category_filter=['flash_password_incorrect']) %}
				{% if messages %}
					{% for message in messages %}
						<p class="error-string">{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<input class="form-card__input" type="password" name="password" placeholder="Password">
			<input class="button" type="submit" value="Login">
		</form>

		<!-- SET REGISTER FORM TO ACTIVE IF FLASH MESSAGE OCCURED THERE -->
		{% with messages = get_flashed_messages(category_filter=['register_active']) %}
				{% if messages %}
		<form class="form-card" id="register_form" name="register_form" onsubmit="RegisterUser(); return false;" action="/register" method="post">
				{% else %}
		<form class="form-card hidden" id="register_form" name="register_form" onsubmit="RegisterUser(); return false;" action="/register" method="post">
				{% endif %}
		{% endwith %}
			<input type="hidden" id="auth_code_registration" name="auth_code">

			<!-- JAVASCRIPT VALIDATION ERROR MESSAGE -->
			<p class="error-string hidden" id="reg_email_error">* Email address is invalid</p>
			<p class="error-string hidden" id="reg_email_length_error">* Email address must be less than 255 characters</p>

			<!-- FLASH VALIDATION ERROR MESSAGE -->
			{% with messages = get_flashed_messages(category_filter=['flash_email_too_long']) %}
				{% if messages %}
					{% for message in messages %}
						<p class="error-string">{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}

			<!-- FLASH VALIDATION ERROR MESSAGE -->
			{% with messages = get_flashed_messages(category_filter=['flash_email_invalid']) %}
				{% if messages %}
					{% for message in messages %}
						<p class="error-string">{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}

			<!-- FLASH VALIDATION ERROR MESSAGE -->
			{% with messages = get_flashed_messages(category_filter=['flash_email_exists']) %}
				{% if messages %}
					{% for message in messages %}
						<p class="error-string">{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}

			<input class="form-card__input" type="text" name="email" placeholder="Email Address">

			<!-- JAVASCRIPT VALIDATION ERROR MESSAGE -->
			<p class="error-string hidden" id="reg_password_length_error">* Password must be between 8 and 32 characters</p>

			<!-- FLASH VALIDATION ERROR MESSAGE -->
			{% with messages = get_flashed_messages(category_filter=['flash_password_empty']) %}
				{% if messages %}
					{% for message in messages %}
						<p class="error-string">{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}

			<input class="form-card__input" type="password" name="password" placeholder="Password">

			<!-- JAVASCRIPT VALIDATION ERROR MESSAGE -->
			<p class="error-string hidden" id="reg_password_match_error">* Passwords must match</p>
			<input class="form-card__input" type="password" name="confirm_password" placeholder="Confirm Password">

			<input class="button" type="submit" value="Register">
		</form>
	</div>
</body>

<script src="{{url_for('static', filename='hex_module.js')}}"></script>
<script src="{{url_for('static', filename='index.js')}}"></script>
</html>