<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='vault.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='error_messages.css')}}">
</head>
<body>
    <div class="main-layout">
        <div class="header">
            <h1 class="header__title">Password Manager</h1>
            <p class="header__user">Username here</p>
            <a href="/logout">logout</a>
        </div>

        <div class="new-entry">
            <p class="new-entry__toggle" onclick="ToggleNewEntryForm()">Add Entry +</p>
            <form class="new-entry__form new-entry__form--hidden" action="/vault/add_entry" name="new_entry_form" onsubmit="SavePassword(); return false;">
                <p class="new-entry__label">Name</p>
                <!-- JAVASCRIPT VALIDATION ERROR MESSAGES -->
                <p class="error-string hidden" id="name_too_short_error">* Please enter a name</p>
                <p class="error-string hidden" id="name_too_long_error">* Name must be less than 65 chars</p>
                <input class="new-entry__input" name="name" type="text">

                <p class="new-entry__label">Login</p>
                <!-- JAVASCRIPT VALIDATION ERROR MESSAGES -->
                <p class="error-string hidden" id="login_too_short_error">* Please enter a login</p>
                <p class="error-string hidden" id="login_too_long_error">* Login must be less than 65 chars</p>
                <input class="new-entry__input" name="login" type="text">

                <p class="new-entry__label">Password</p>
                <!-- JAVASCRIPT VALIDATION ERROR MESSAGES -->
                <p class="error-string hidden" id="password_too_short_error">* Please enter a password</p>
                <p class="error-string hidden" id="password_too_long_error">* Password must be less than 65 chars</p>
                <input class="new-entry__input" name="password" type="password">

                <p class="new-entry__label">Website</p>
                <!-- JAVASCRIPT VALIDATION ERROR MESSAGES -->
                <p class="error-string hidden" id="website_too_short_error">* Please enter a website</p>
                <p class="error-string hidden" id="website_too_long_error">* Website must be less than 65 chars</p>
                <input class="new-entry__input" name="website" type="text">
                
                <input class="new-entry__toggle" type="submit" value="Save Entry">
            </form>
        </div>

        <div id="vault-entries">
            <div class="vault-entry">
                <h2 class="vault-entry__title" onclick="Slide(this)">Entry</h2>
                <div class="vault-entry__form">
                    <p>hey</p>
                    <p>hey</p>
                    <p>hey</p>
                    <p>hey</p>
                    <p>hey</p>
                    <p>hey</p>
                </div>
            </div>
            <div id="spacer"></div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='hex_module.js')}}"></script>
<script src="{{url_for('static', filename='vault.js')}}"></script>
</html>