.button {
	background-color: goldenrod;
	border: none;
	border-radius: 3px;
	color: #333;
	font-family: sans-serif;
	font-size: 1.1em;
	font-weight: 700;
	padding: 7px 10px;
    text-decoration: none;
}

.button:hover {
	background-color: #333;
	color: whitesmoke;
	cursor: pointer;
}
